#@data/values
#@overlay/match-child-defaults missing_ok=True
---
infrastructure_provider: "aws"
contour:
  image:
    repository: registry.tkg.vmware.run
envoy:
  image:
    repository: registry.tkg.vmware.run