<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon"
          data-th-href="@{/favicon.png}">
    <title>Spring Socks</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/font-awesome.min.css}"
          href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/elegant-icons.css}"
          href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/nice-select.css}"
          href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/jquery-ui.min.css}"
          href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/owl.carousel.min.css}"
          href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/slicknav.min.css}"
          href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" data-th-href="@{/css/style.css}" href="../static/css/style.css"
          type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img data-th-src="@{/img/logo.png}" src="../static/img/logo.png"
                         alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-shopping-bag"></i>
                <span>[[${itemSize}]]</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$[[${total}]]</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <a data-th-unless="${#authentication}"
               data-th-href="@{/login}">
                <i class="fa fa-user"></i> Login
            </a>
            <span data-th-if="${#authentication != null && #authentication.principal != null}"
                  data-th-with="principal=${#authentication.principal}">
                                <i class="fa fa-user"></i> [[${principal.givenName}]] [[${principal.familyName}]]
                            </span>
            <a data-th-if="${#authentication}" data-th-href="@{/logout}">Logout</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html" data-th-href="@{/}">Home</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
        <ul>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth">
                            <a data-th-unless="${#authentication}"
                               data-th-href="@{/login}">
                                <i class="fa fa-user"></i> Login
                            </a>
                            <span data-th-if="${#authentication != null && #authentication.principal != null}"
                                  data-th-with="principal=${#authentication.principal}">
                                <i class="fa fa-user"></i> [[${principal.givenName}]] [[${principal.familyName}]]
                            </span>
                            <a data-th-if="${#authentication}" data-th-href="@{/logout}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"
                       data-th-href="@{/}"><img data-th-src="@{/img/logo.png}"
                                                src="../static/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./index.html"
                                              data-th-href="@{/}">Home</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="./shopping-cart.html"
                               data-th-href="@{/cart}"><i class="fa fa-shopping-bag"></i>
                            <span>[[${itemSize}]]</span></a>
                        </li>
                    </ul>
                    <div class="header__cart__price">item: <span>$[[${total}]]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Tags</h4>
                        <ul>
                            <li data-th-each="tag: ${tags.tags}"><a
                                    data-th-href="@{/tags/{tag}(tag=${tag})}">[[${tag}]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select onchange="sortCatalog(this)">
                                    <option value="price" data-th-selected="${order == 'price'}">Price</option>
                                    <option value="name" data-th-selected="${order == 'name'}">Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>[[${socks.size()}]]</span> Products found</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6"
                         data-th-each="sock : ${socks}">
                        <div class="product__item">
                            <div class="product__item__pic set-bg"
                                 data-th-data-setbg="@{${sock.imageUrl[0]}}">
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#"
                                       data-th-href="@{/details/{id}(id=${sock.id})}">[[${sock.name}]]</a>
                                </h6>
                                <h5>$[[${sock.price}]]</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"
                           data-th-href="@{/}"><img data-th-src="@{/img/logo.png}"
                                                    src="../static/img/logo.png"
                                                    alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Roppongi Hills Mori Tower 20F 6-10-1 Roppongi
                            Minato-ku Tokyo 106-6120
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i
                                class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                        <p>Copyright © 2016-2017 <a
                                href="http://weave.works">Weaveworks</a> | Originally
                            created for <a
                                    href="https://microservices-demo.github.io">Sock
                                Shop</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script data-th-src="@{/js/jquery-3.3.1.min.js}"
        src="../static/js/jquery-3.3.1.min.js"></script>
<script data-th-src="@{/js/bootstrap.min.js}"
        src="../static/js/bootstrap.min.js"></script>
<script data-th-src="@{/js/jquery.nice-select.min.js}"
        src="../static/js/jquery.nice-select.min.js"></script>
<script data-th-src="@{/js/jquery-ui.min.js}"
        src="../static/js/jquery-ui.min.js"></script>
<script data-th-src="@{/js/jquery.slicknav.js}"
        src="../static/js/jquery.slicknav.js"></script>
<script data-th-src="@{/js/mixitup.min.js}" src="../static/js/mixitup.min.js"></script>
<script data-th-src="@{/js/owl.carousel.min.js}"
        src="../static/js/owl.carousel.min.js"></script>
<script data-th-src="@{/js/main.js}" src="../static/js/main.js"></script>

<script>
    function sortCatalog(order) {
        console.log(order.value);
        const url = new URL(document.location);
        url.searchParams.set("order", order.value);
        document.location = url;
    }
</script>
</body>

</html>